*{
    margin: 0;
    padding: 0;
}
.fundo{
    background-image: linear-gradient(45deg, black, #65dfcbfb);
    height: 100vh;
}
.calculadora{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.836);
    border-radius: 5px;
    padding: 5px;
}
.btn{
    height: 50px;
    width: 50px;
    margin: 4px;
    border: none;
    background-color: rgb(44, 38, 38);
    color: rgb(139, 128, 128);
    cursor: pointer;
}
.btn:hover{
    background-color: black;
}
.btnlim{
    height: 40px;
    width:  112px;
    margin: 4px;
    margin-bottom: 10px;
    border:none;
    background-color: rgb(44, 38, 38);
    color: rgb(139, 128, 128);
    cursor: pointer;
}
.btnlim:hover{
    background-color: black;
}
.resultado{
    width: 225px;
    height: 50px;
    background-color: white;
    margin: 15px 0 15px 10px;
    font-size: 18pt;
    text-align: right;
    border-radius: 2px;
}
.hist{
    border: none;
    background-color: rgb(44, 38, 38);
    color: rgb(139, 128, 128);
    cursor: pointer;
}
.hist:hover{
    background-color: black;
}
.div{
    position: absolute;
    top: 25px;
    background-color: white;
    color: white;
    background-color: rgba(44, 38, 38, 0.815);
    color: rgb(139, 128, 128);
    border-radius: 15px;
    display: none;
    padding: 5px;
}
